@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  /* 
    Very important! If this is not included, sometimes when you draw it tries
    to highlight a div which causes the mouse events to not be correctly detected. 
  */
  user-select: none;
}

body {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  color: #2e1f27;
  background-color: #f4c95d;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  border: 1px solid black;
  margin: 1em 0;
  width: 500px;
  height: 500px;
  background-color: white;
}

.row {
  display: flex;
}

.col {
  border: 1px solid rgba(187, 187, 187, 0.1);
  flex: 1 0 0px;
}

.col:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.options {
  display: flex;
  text-align: center;
  gap: 2rem;
}

.color-picker {
  display: flex;
  flex-direction: column;
}

.range-picker {
  display: flex;
  flex-direction: column;
}

button {
  padding: 1em 1em;
}
